

.container {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn {
  width: 150px;
  height: 150px;
  border: 10px solid black;
  border-radius: 20px;
  margin: 20px;
}

.red{
    background-color: #d95980;
}

.yellow{
    background-color: #f99b45;
}

.green{
    background-color: #63aac0;
}

.purple{
    background-color: #819ff9;
}

.flash{
  background-color: #fff;
}

.userflash{
  background-color: green;
}

.dashboard{
  position: absolute;
  top: 0;
  right: 30px;
  font-size: 25px;
}
